* {
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

html[data-theme="red"] {
    --primary-color: #ff4040;
    --secondary-color: #ff737d;
    --background-color: #dc4e4e;
    --text-color: #d2b0b0;
    --text-shadow-color: rgba(255, 255, 255, 0.7);
    --body-color: #d2b0b0;
    --footer-background: #dc4e4e;
}

html[data-theme="green"] {
    --primary-color: #1c876d;
    --secondary-color: #38a18d;
    --background-color: #f0faf8;
    --text-color: #ffffff;
    --text-shadow-color: rgba(255, 255, 255, 0.7);
    --body-color: #385d4d;
    --footer-background: #20382d;
}

html[data-theme="blue"] {
    --primary-color: #0095ff;
    --secondary-color: #1976d2;
    --background-color: #0d47a1;
    --text-color: #ffffff;
    --text-shadow-color: rgba(20, 20, 20, 0.7);
    --body-color: #0e4a9b;
    --footer-background: #051c3f;
}

html[data-theme="black"] {
    --primary-color: #888888;
    --secondary-color: #333333;
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --text-shadow-color: rgba(255, 255, 255, 0.7);
    --body-color: #111111;
    --footer-background: #000000;
}

body,
html {
    background: var(--body-color);
    filter: var(--background-tint);
    -webkit-filter: var(--background-tint);
}

.bubbleCountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);

    h1,
    h2 {
        text-align: center;
        text-shadow: 0px 2px var(--text-shadow-color);
        font-size: 50px;
        font-family: "Lobster", cursive;

        &:nth-of-type(2) {
            font-size: 30px;
        }
    }

    h2 {
        font-size: 30px;
        // font-family: "Tilt Prism", cursive;
    }

    input {
        all: unset;
        color: var(--footer-background);
        width: 100px;
        border-radius: 20px;
        background-color: var(--secondary-color);
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        appearance: textfield;
        padding: 5px 0;
        margin: 100px auto 20px;
        text-align: center;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: background-color 0.5s ease-in-out;
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        -ms-transition: background-color 0.5s ease-in-out;
        -o-transition: background-color 0.5s ease-in-out;
    }

    span {
        font-family: "Quicksand", sans-serif;
    }
}

.handpicked {
    color: var(--primary-color);
    text-align: center;
    text-shadow: 0px 2px var(--text-shadow-color);
    font-size: 23px;
    font-family: "Lobster", cursive;
    flex-grow: 1;
    text-align: center;

    .defaultChoices {
        all: unset;
        text-shadow: none;
        text-align: center;
        margin: 20px;
        width: 60px;
        height: 40px;
        background-color: var(--primary-color);
        color: var(--text-color);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        animation: moveButton 1.5s infinite alternate;
        transition: background-color 0.5s ease-in-out;
        -webkit-transition: background-color 0.5s ease-in-out;
        -moz-transition: background-color 0.5s ease-in-out;
        -ms-transition: background-color 0.5s ease-in-out;
        -o-transition: background-color 0.5s ease-in-out;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-animation: moveButton 1.5s infinite alternate;
        &:hover {
            animation: none;
            transform: translateY(-2px);
            -webkit-animation: none;
            -webkit-transform: translateY(-2px);
            -moz-transform: translateY(-2px);
            -ms-transform: translateY(-2px);
            -o-transform: translateY(-2px);
        }

        &:active {
            animation: none;
            transform: translateY(2px);
            -webkit-animation: none;
            -webkit-transform: translateY(2px);
            -moz-transform: translateY(2px);
            -ms-transform: translateY(2px);
            -o-transform: translateY(2px);
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 3px var(--footer-background);
        }
    }
}

#footer {
    width: 100%;
    min-height: 12rem;
}

.bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(4px);
    height: 1.5rem;
    background: var(--footer-background);
    filter: url("#blob");
    -webkit-filter: url("#blob");
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    & .bubble {
        position: absolute;
        display: inline-block;
        left: var(--position, 50%);
        background: var(--footer-background);
        border-radius: 100%;
        animation: bubble-size var(--time, 4s) cubic-bezier(0.3, 0, 0.7, 1) infinite var(--delay, 0s),
            bubble-move var(--time, 4s) cubic-bezier(0.3, 0, 0.7, 1) infinite var(--delay, 0s);
        transform: translate(-50%, 100%);
        width: var(--size, 4rem);
        height: var(--size, 4rem);
        -webkit-animation: bubble-size var(--time, 4s) cubic-bezier(0.3, 0, 0.7, 1) infinite var(--delay, 0s),
            bubble-move var(--time, 4s) cubic-bezier(0.3, 0, 0.7, 1) infinite var(--delay, 0s);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        -webkit-transform: translate(-50%, 100%);
        -moz-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
        -o-transform: translate(-50%, 100%);
    }
}

.content {
    z-index: 2;
    width: 100%;
    height: 100%;
    background: var(--footer-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Tilt Prism", cursive;

    span {
        font-family: "Quicksand", sans-serif;
    }

    p {
        font-family: "Quicksand", sans-serif;
        position: absolute;
        bottom: 1rem;
    }
}

#blobSVG {
    position: absolute;
    bottom: 0;
}

@keyframes bubble-size {
    0% {
        width: 0rem;
        height: 0rem;
    }
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }
    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }
    100% {
        bottom: var(--distance, 10rem);
    }
}

@keyframes moveButton {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
    }
}

.themeContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    justify-content: space-evenly;
    & button {
        all: unset;
        cursor: pointer;
        border: var(--buttonRevealColor) 1px solid;
        background-color: var(--buttonFooterBackground);
        color: var(--buttonRevealColor);
        margin: 40px;
        padding: 10px 20px;
        text-align: center;
        position: relative;
        overflow: hidden;
        font-family: "Lobster", cursive;
        z-index: 5;
        &::before,
        &::after {
            content: "";
            width: 50%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
            background-color: var(--buttonRevealColor);
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
        &:hover {
            // animation: buttonJiggle 0.3s ease-in-out infinite forwards normal;
            // -webkit-animation: buttonJiggle 0.3s ease-in-out infinite forwards normal;
            &::before {
                transform: translateX(-90%);
                -webkit-transform: translateX(-90%);
                -moz-transform: translateX(-90%);
                -ms-transform: translateX(-90%);
                -o-transform: translateX(-90%);
            }
            &::after {
                transform: translateX(100%);
                -webkit-transform: translateX(100%);
                -moz-transform: translateX(100%);
                -ms-transform: translateX(100%);
                -o-transform: translateX(100%);
            }
        }
    }
}
@keyframes buttonJiggle {
    0%,
    100%,
    50% {
        transform: rotateX(0);
        -webkit-transform: rotateX(0);
        -moz-transform: rotateX(0);
        -ms-transform: rotateX(0);
        -o-transform: rotateX(0);
    }
    25% {
        transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
        -moz-transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -o-transform: rotateZ(5deg);
    }
    75% {
        transform: rotateZ(-5deg);
        -webkit-transform: rotateZ(-5deg);
        -moz-transform: rotateZ(-5deg);
        -ms-transform: rotateZ(-5deg);
        -o-transform: rotateZ(-5deg);
    }
}

button#red {
    --buttonRevealColor: #ff4040;
    --buttonFooterBackground: #ff9bba;
}
button#green {
    --buttonRevealColor: #00ff7b;
    --buttonFooterBackground: #00a738;
}
button#blue {
    --buttonRevealColor: #0095ff;
    --buttonFooterBackground: #0d47a1;
}
button#black {
    --buttonRevealColor: #888888;
    --buttonFooterBackground: #1a1a1a;
}
